* {
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: white;
    text-align: center;
}

header {
    text-align: center;
    font-size: 30px;
    padding:30px;
}

nav {
    background-color: grey

}

nav ul li {
    display: inline-block;
    padding: 10px ;
    font-size: 25px;
    font-weight: bolder;
    
    color:white;
}

main>img:first-child {
    display: block;
    margin: 16px auto ;
}

 main>section >article>img {
    display: inline-block;
    margin: 15px;
}



footer {
background-color: grey;
padding: 50px;
margin: 20px;

    
}
  


button {
    
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 12px 20px;
    
}

div#data img, div#data section {
    display: inline-block;
    width: 400px;
    text-align: left;
   
}
